.nav {
  width: 100%;
  background: #111;
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

.nav ul li {
  cursor: pointer;
  font-size: 18px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}
